<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="mb-3">
        <label for="formGroupExampleInput" class="form-label">Name</label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input placeholder">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label">Birthday</label>
        <input type="date" class="form-control" id="formGroupExampleInput2" placeholder="Another input placeholder">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput3" class="form-label">Address</label>
        <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Example input placeholder">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput4" class="form-label">Contact</label>
        <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Another input placeholder">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput5" class="form-label">House Contact</label>
        <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="Example input placeholder">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput6" class="form-label">Email</label>
        <input type="Email" class="form-control" id="formGroupExampleInput6" placeholder="Another input placeholder">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput7" class="form-label">Postal Code</label>
        <input type="text" class="form-control" id="formGroupExampleInput7" placeholder="Another input placeholder">
    </div>
    <div class="mb-3">
        <label class="formGroupExampleInput8">Project</label>
        <textarea class="form-control" aria-label="With textarea" id="formGroupExampleInput8"></textarea>
      </div>

    
</body>
</html>